Source: python-qutepart
Maintainer: Andrei Kopats <hlamer@tut.by>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.4.1), python3, libpcre3-dev, python3-dev, python3-pyqt4
Standards-Version: 3.9.4
Homepage: https://github.com/hlamer/qutepart
Vcs-Git: https://github.com/hlamer/qutepart
Vcs-Browser: https://github.com/hlamer/qutepart

Package: python3-qutepart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python3-pyqt4, libpcre3
Description: Code editor component
 Some of the features:
  * Syntax highlighting for 196 languages
  * Smart indentation for many languages
  * Line numbers
  * Bookmarks
  * Advanced edit operations
  * Matching braces highlighting
  * Autocompletion based on document content
Homepage: https://github.com/hlamer/qutepart
